.name {
   text-align: left;
   font-family: Helvetica, sans-serif;
}
.text {
   text-align: center;
}
.container {
   width: 60%;
   margin-left: 20%;
   margin-top: 10px;
}
.header {
   width: 80%;
   margin-left: 10%;
   margin-top: 10px;
   margin-bottom: 15px;
   display: flex;
   flex-direction: row;
   /* justify-content: space-between; */
}
.table {
   /* background-color: rgb(218, 194, 218); */
   /* background-color: #c9cbff; */
   background-color: #f8f1f1;
   font-size: small;
   font-family: Helvetica, sans-serif;
}
/* .table:hover {
   /* background-color: #16c79a !important; */
/* } */
.paginationContainer {
   width: 60%;
   margin-left: 20%;
   justify-content: center;
}
.searching {
   width: 130px;
   height: 10px;
}
.btn :hover {
   cursor: pointer;
   /* background-color: #16c79a !important; */
}
