.container {
   min-height: 100vh;
   display: flex;
   font-weight: 400;
   font-family: sans-serif;
   background: #12c2e9;
   background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
   background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
   justify-content: center;
   align-items: center;
}
.formBackground {
   background-color: white;
   display: flex;
   flex-direction: column;
   text-align: left;
   width: 400x;
   padding: 40px;
}
.success {
   color: rgb(39, 134, 7);
   font-weight: bold;
   /* background-color: rgb(116, 247, 73); */
   font-size: small;
}
.error {
   color: #f50606cc !important;
   font-weight: bold;
   /* background-color: rgb(229, 255, 31); */
   font-size: small;
   /* word-wrap: normal; */
}
.smallBtn {
   font-size: x-small;
}
